<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddhigh.dodo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.UserInfoActivity"
            android:label="@string/user_info"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".widget.SelectImageActivity"
            android:label="@string/pick_image"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".user.ModifyNicknameActivity"
            android:label="@string/modify_nickname" />
    </application>

</manifest>
